### NASA Mars News

In [40]:
#import dependencies
from bs4 import BeautifulSoup as bs
from splinter import Browser
import pandas as pd
from webdriver_manager.chrome import ChromeDriverManager

In [41]:
#pointing to the directory where chromedriver exists
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser("chrome", **executable_path, headless = False)

====== WebDriver manager ======
Current google-chrome version is 90.0.4430
Get LATEST driver version for 90.0.4430
Driver [/Users/user/.wdm/drivers/chromedriver/mac64/90.0.4430.24/chromedriver] found in cache

In [42]:
# Open browser to NASA Mars News Site
browser.visit('https://redplanetscience.com/')

In [43]:
#using bs to write it into html
html = browser.html
soup = bs(html,"html.parser")

In [44]:
news_title = soup.find("div",class_="content_title").text
news_paragraph = soup.find("div", class_="article_teaser_body").text
print(f"Title: {news_title}")
print(f"Para: {news_paragraph}")

Title: NASA's Curiosity Keeps Rolling As Team Operates Rover From Home
Para: The team has learned to meet new challenges as they work remotely on the Mars mission.

In [45]:
#browser.quit()

### JPL Mars Space Images - Featured Image

In [46]:
url_image = "https://spaceimages-mars.com"
browser.visit(url_image)

In [47]:
# Assign the HTML content and use BS
img_html = browser.html
soup = bs(img_html,'html.parser')

In [48]:

# Find current featured url image
img_result = soup.find('img', class_="headerimage fade-in")['src']

img_url = img_result.replace("background-image: url('","").replace("');","")
featured_image_url = f"https://spaceimages-mars.com/{img_url}"

print(featured_image_url)

https://spaceimages-mars.com/image/featured/mars3.jpg

In [49]:
#browser.quit()

### Mars Facts

In [51]:
# Collect the tables  
facts_url = 'https://galaxyfacts-mars.com/'
browser.visit(facts_url)

# Parse the URL
tables = pd.read_html(facts_url)

# Find in lists of dataframes
df = tables[1]
df.columns = ["Description","Value"]
idx_df = df.set_index("Description")
idx_df

                                              Value
Description
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                        2 ( Phobos & Deimos )
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [52]:

#Save table string
mars_df = df.to_html(classes = 'table table-striped')
print(mars_df)

<table border="1" class="dataframe table table-striped">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Description</th>
      <th>Value</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Equatorial Diameter:</td>
      <td>6,792 km</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Polar Diameter:</td>
      <td>6,752 km</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Mass:</td>
      <td>6.39 × 10^23 kg (0.11 Earths)</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Moons:</td>
      <td>2 ( Phobos &amp; Deimos )</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Orbit Distance:</td>
      <td>227,943,824 km (1.38 AU)</td>
    </tr>
    <tr>
      <th>5</th>
      <td>Orbit Period:</td>
      <td>687 days (1.9 years)</td>
    </tr>
    <tr>
      <th>6</th>
      <td>Surface Temperature:</td>
      <td>-87 to -5 °C</td>
    </tr>
    <tr>
      <th>7</th>
      <td>First Record:</td>
      <td>2nd millennium BC</td>
    </tr>
    <tr>
      <th>8</th>
      <td>Recorded By:</td>
      <td>Egyptian astronomers</td>
    </tr>
  </tbody>
</table>

### Mars Hemispheres

In [53]:
# Navigate to the page
hemi_url = 'https://marshemispheres.com/'
browser.visit(hemi_url)

In [56]:
hemisphere_html = browser.html
soup = bs(hemi_html, 'html.parser')

In [59]:
items = soup.find_all('div', class_='item')

hemisphere_image_urls = []

hemispheres_main_url = 'https://marshemispheres.com/'

for item in items: 
   
    title = item.find('h3').text
    
    image_url = item.find('a', class_='itemLink product-item')['href']

    browser.visit(hemispheres_main_url + image_url)

    image_html = browser.html

    soup = bs( image_html, 'html.parser')

    image_url = hemispheres_main_url + soup.find('img', class_='wide-image')['src']

    hemisphere_image_urls.append({"Title" : title, "Image_URL" : image_url})
    
hemisphere_image_urls

[{'Title': 'Cerberus Hemisphere Enhanced',
  'Image_URL': 'https://marshemispheres.com/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg'},
 {'Title': 'Schiaparelli Hemisphere Enhanced',
  'Image_URL': 'https://marshemispheres.com/images/3778f7b43bbbc89d6e3cfabb3613ba93_schiaparelli_enhanced.tif_full.jpg'},
 {'Title': 'Syrtis Major Hemisphere Enhanced',
  'Image_URL': 'https://marshemispheres.com/images/555e6403a6ddd7ba16ddb0e471cadcf7_syrtis_major_enhanced.tif_full.jpg'},
 {'Title': 'Valles Marineris Hemisphere Enhanced',
  'Image_URL': 'https://marshemispheres.com/images/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg'}]

In [60]:
browser.quit()